<div class="wrapper">
	<div id="users">
		<h1>Create your profile.</h1>
		<p>This information helps us provide you with appropriate content.</p>
		<hr>
		<%= render 'form' %>

		<!-- <%= link_to 'Back', users_path %> -->
	</div>
</div>