<div id="home">
  <% if current_user %>
  	<% if current_user.is_politician %>
  	  <h3>See Updates From Your Users</h3>
  	 <% else %>
  	  <h3>Message Politicians</h3>
  	  <%= link_to "Politican Reqests", new_politician_request_path %>
  	<% end %>
  <% end %>
</div>