/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */
 //= require_self
 //= require_tree .
 //=require bootstrap
body{
	background-color: #fff;
	font-family: "Avenir", "Lato", "Helvetica Neue", sans-serif;
	color: #888;
	border-top: 5px solid #c24704;
	margin: 0px;
}
body a{
  	-webkit-transition: all .2s ease-in-out;
  	-moz-transition: all .2s ease-in-out;
  	-o-transition: all .2s ease-in-out;
  	transition: all .2s ease-in-out;
}
body a:hover{
  	-webkit-transition: all .2s ease-in-out;
  	-moz-transition: all .2s ease-in-out;
  	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	text-decoration: none;
	background-color: #ddd;
	color: #888;
}
body h1{
	color: #888;

}
body textarea{
	box-shadow: none;
}
body input{
	box-shadow: none;
}
ul.navy{
	list-style: none;
	padding: 20px 0px 20px 0px;
	border-bottom: 2px solid #888;
}
ul.navy li{
	display: inline-block;
}
ul.navy li a:hover{
	background-color: transparent;
}
ul.navy li img{
  	-webkit-transition: all .2s ease-in-out;
  	-moz-transition: all .2s ease-in-out;
  	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;	
}
ul.navy li img:hover{
	opacity: 0.6;
  	-webkit-transition: all .2s ease-in-out;
  	-moz-transition: all .2s ease-in-out;
  	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
#body_fade{
	display: none;
}
.phone{
	max-height: 631px;
	max-width: 300px;
	height: 100%;
	width: 100%;
	margin: auto;
	margin-top: 50px;
	padding-top: 20px;

}
.expo{
	max-width: 500px;
	margin: auto;
	text-align:justify;
	padding-top: 20px;
	border-top: 2px solid #888;
	margin-top: 50px;
}
.expo p{
	font-size: 15pt;
	color: #888;
	line-height: 1.7;
}
.button_wrapper{
	max-width: 100%;
	text-align: center;
}
p.or{
	text-align: center;
	line-height: 2;
	padding: 20px 10px 20px 10px;
	color: #888;
	font-size: 13pt;
}
.button{
	padding: 10px 50px 10px 50px;
	border: 2px solid #888;
	border-radius: 10px;
	color: #888;
	font-size: 15pt;
}
.button_wrapper_s{
	max-width: 100%;
	text-align: center;
}
.button_s{
	padding: 10px 20px 10px 20px;
	border: 2px solid #888;
	border-radius: 10px;
	color: #888;
	font-size: 13pt;	
}
.wrapper{
	max-width: 650px;
	margin: auto;
}
.header_wrap{
	padding-bottom: 70px;
	padding-top: 30px;
}
.logo{
	text-align: center;
	font-size: 60pt;
	font-weight: 300;
	color: #888;
}
.logo span{
	font-weight: 900;
}
p.tag{
	text-align: center;
	text-align: center;
	font-size: 16pt;
	font-weight: 300;
	color: #888;
}
footer{
	max-width: 500px;
	margin: auto;
	padding-top: 20px;
	border-top: 2px solid #888;
	margin-top: 50px;
	padding-bottom: 50px;
}
footer p{
	color: #888;
	text-align: center;
}
/* xxxxxxxxxxxxxxx */
.content{
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}
#user_tab {
  font-size: 12px;
  padding-top: 41px;
  float: right;
}
#send_text_message{
	padding-top: 20px;
	position: relative;
}
/**** Users Page ***/
#users {
	margin: 0 auto;
	display: block;
	max-width: 500px;
	width: 90%;
	margin-top: 50px;
}
#users input{
	width: 100%;
	border-radius: 0px;
	padding: 10px;
	border: 2px solid #888;
	box-shadow: none;
}
#users textarea{
	width: 100%;
	border-radius: 0px;
	padding: 10px;
	border: 2px solid #888;	
	box-shadow: none;
}
#users p{
	font-size: 15pt;
	color: #888;
	line-height: 1.7;
}
#users ul{
	margin-left: 0;
}
#users li{
	display: inline-block;
	margin: 5px 2px 11px 0;

}

@media only screen and (max-width : 440px) {
	.logo{
		font-size: 40pt;
	}
	.button_s{
		padding: 10px 10px 10px 10px;
		border: 2px solid #888;
		border-radius: 10px;
		color: #888;
		font-size: 12pt;	
	}

}

@media only screen and (max-width : 340px) {
	.logo{
		font-size: 30pt;
	}
}
